.ad{
    display: flex;
    flex-direction: column;
}

.ad_title{
    display: flex;
    gap: 20px;
}

.ad_title h2{
    font-size: 40px;
}

.ad_text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 60px;
}