.header_button{
    border: none;
    background-color: var(--bgcolor-main);
    font-size: 20px;
}

.header_button:hover{
    cursor: pointer;
    padding-bottom: 5px;
    transition: padding-bottom 0.2s;
}

.intro_button{
    border: 1px var(--color-special) solid;
    color: var(--color-special);
    background: none;
    font-size: 20px;
    padding: 21px 60px;
    max-width: 227px;
}

.intro_button:hover{
    cursor: pointer;
    background-color: var(--bgcolor-button-card-active);
    color: #F4F6F5;
    transition: all 0.5s ease;
}

.cards_button{
    border-radius: 20px;
    border: none;
    background-color: var(--bgcolor-button-card);
    color: var(--color-text);
    padding: 10px 20px;
    font-size: 20px;
}

.cards_button:hover{
    cursor: pointer;
}

.cards_button_active{
    border-radius: 20px;
    border: none;
    background-color: var(--bgcolor-button-card-active);
    color: #F4F6F5;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

.card_button{
    border: 1px var(--color-special) solid;
    color: var(--color-special);
    background: none;
    font-size: 20px;
    padding: 21px 106px;
}

.card_button:hover{
    cursor: pointer;
    background-color: var(--bgcolor-button-card-active);
    color: #F4F6F5;
    transition: all 0.5s ease;
}

.ad_button{
    background-color: #EEDB6D;
    font-size: 20px;
    border: none;
    padding: var(--padding-button-intro);
}

.ad_button:hover{
    cursor: pointer;
}

