.promo{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    margin: 70px;
    padding: 70px 204px;
    background-image: url("../../../public/ad_back.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    backdrop-filter: opacity(0.6);
}

.promo_container{
    width: 540px;
}

.promo_title{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.promo_title img{
    width: 80px;
    height: 80px;
}

.promo_title h2{
    font-size: 40px;
}

.promo_text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 60px;
}

.promo_text p{
    font-size: 18px;
    line-height: 150%;
}

@media screen and (max-width: 768px) {
    .promo {
        margin: 70px 0 0 0;
        padding: 0;
        background-image: url("../../../public/ad_back_768.png");
    }
    .promo_container{
        width: 690px;
        padding: 70px 39px;
    }
    .promo_title{
        margin-bottom: 30px;
    }
    .promo_title img{
        width: 60px;
        height: 60px;
    }
    .promo_title h2{
        font-size: 30px;
    }
    .promo_text{
        margin-bottom: 30px;
    }
}