.cards{
    min-width: 100%;
    padding: 0 204px;
}

.cards_title{
    display: flex;
    gap: 418px;
    margin-bottom: 20px;
    align-items: center;
}

.cards_buttons{
    display: flex;
    gap: 32px;
}

.cards_name h2{
    font-size: 40px;
}

.cards_main{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

@media screen and (max-width: 768px){
    .cards{
        padding: 0 39px;
    }
    .cards_title{
        gap: 63px;
        margin-bottom: 30px;
    }
    .cards_name h2{
        font-size: 30px;
        font-weight: normal;
    }
    .cards_main{
        width: 690px;
    }
}