.header{
    display: flex;
    padding: 33px 165px;
    margin: 0;
    gap: 500px;
    box-sizing: content-box;
    min-width: 100%;
    justify-content: space-between;
    background-color: var(--bgcolor-main);
    max-height: 100px;
}

.logo{
    display: flex;
    gap: 8px;
    align-items: center;
}

.logo img{
    object-fit: contain;
}

.logo a{
    text-decoration: none;
    font-size: 20px;
    color: var(--color-special);
    font-weight: bold;
}

.nav{
    display: flex;
    gap: 60px;
    align-items: center;
}