:root{
  --color-special: #598D66;
  --color-text: #2C2D35;
  --bgcolor-main: #E1EDE6;
  --color-paragraph: #86928B;
  --padding-button-intro: 21px 60px;
  --padding-button-card-add: 21px 105px;
  --border-radius-button-card: 20px;
  --bgcolor-button-card: #D4E8D9;
  --bgcolor-button-card-active: #376B44;
  --padding-button-card: 10px 20px;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
